/*  GENERALES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

    touch-action: pan-x pan-y;
}


/*  HEADER INICIO*/
.header__container {
    width: 100%;
    height: 80px;
    background-image: url(../img/header/header__line.png);
    background-size: contain;
}
/*  HEADER FIN*/


/*  MAIN INICIO*/
.main__container {
    max-width: 1280px;
    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: row;

    background-color: #fff;

    border: 2spx solid #000;
}
.productos__main {
    width: 50%;
    padding: 5px;
}
/**/
.hidden {
    display: none;

}
.hidden__content {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(290deg); /* Centra el elemento y aplica la rotación */
    color: #0003;
    background-color: transparent;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/**/

/*  PRODUCTOS INICIO  */
.productos__container {
    display: flex;
    flex-direction: column;
}
.productos__title {
    text-align: center;
    padding: 10px 0;
}
.productos__tipos {
    display: flex;
    flex-direction: column;
}
.productos__title--tipos {
    padding: 5px 0;
}
.productos__tipo {
    padding: 10px;

    border-bottom: 1px solid #000;
}
.productos__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 10px;
}
.boton__producto {
    padding: 7px;

    border-radius: 2px;

    background-color: #fff;

    border: 2px solid #000;
}
.boton__producto:hover {
    background-color: #0f0;
}
/*  PRODUCTOS  FIN  */


/*  PEDIDO INCIO*/
.productos__pedido {
    width: 50%;
    padding: 5px;
}
.pedido__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pedido__title {
    display: flex;
    flex-direction: row;

    padding: 5px;
    margin-bottom: 7px;

    border-bottom: 2px solid #000 ;
}
.pedido__cliente {
    width: 50%;

    padding-right: 5px;

    display: flex;
    flex-direction: column;

}
.pedido__cliente p {
    height: 50%;
    font-size: 25px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pedido__cliente div {
    height: 50%;

    font-size: 25px;
    font-weight: 600;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.pedido__cliente--boton {
    width: 50%;

    padding-left: 5px;

    display: flex;
    flex-direction: column;
}
.pedido__cliente--boton input {
    height: 50%;

    margin: 5px 0;
    border: 2px solid #000;
}
.pedido__cliente--boton input::placeholder {
    text-align: center;
    color: #0f0;
}
.pedido__cliente--boton button{
    height: 50%;

    background-color: #fff;
}
.pedido__cliente--boton button:hover {
    border: 2px solid #0f0;
    background-color: #0f0;
}
/*pedido__Lista*/
.lista__container--pedidos {
    display: flex;
    flex-direction: column;

    padding: 10px;

    border: 2px solid #000;
}
.orden {
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid #000;
    padding: 7px 0;
}
.orden__title {
    width: 20%;
}
.orden__costo {
    width: 20%;

    text-align: center;
}
.orden__cantidad {
    width: 20%;

    text-align: center;
}
.orden__cantidad--elemento {
    width: 20%;
}
.orden__eliminar {
    width: 20%;

    display: flex;
    justify-content: center;
}
.orden__eliminar button{
    width: 50%;

    padding: 4px;

    border-radius: 2px;

    border: 1px solid #000;
    color: #fff;
    background-color: #000;
}
.orden__eliminar button:hover {
    color: #fff;

    border: 1px solid #f00;
    background-color: #f00;
}
/*  PEDIDO FIN*/


/* TOTAL INICIO*/
.pedido__costo {
    margin: 7px 0;
    padding: 7px;

    display: flex;
    flex-direction: column;

    border: 2px solid red;
}
.pedido__costo__3cls {
    width: 100%;

    display: flex;
    flex-direction: row;
    
    margin: 10px;
    padding: 3px 0;

    border-bottom: 2px solid #000;
}
.pedido__total--title {
    width: 80%;
}
.pedido__total {
    width: 20%;
}

.pedido__abonado--boton {
    width: 80%;
}
.pedido__abonado--boton button{
    padding: 5px;

    background-color: #fff;
    border: 2px solid #000;
}
.pedido__abonado--boton button:hover {
    background-color: #0f0;
    border: 2px solid #0f0;

}
.pedido__abonado--input {
    width: 20%;
}
.pedido__abonado--input input {
    width: 50%;
    padding: 3px;

    border: 2px solid #000;
}
.pedido__abonado--input input::placeholder {
    text-align: center;
}
.pedido__abonado--ouput {
    width: 20%;
}
.pedido__total--deuda {
    width: 80%;
}
/* TOTAL FIN*/



/*  BOTONES IMPRIMIR  */
.botones__imprimir{
    width: 100%;

    margin: 10px 0;

    display: flex;
    flex-direction: row;

    border: 2px solid #f00;
    padding: 7px;
    
}
.boton__eliminar--pedido {
    width: 50%;

    display: flex;
    justify-content: center;
}
.boton__eliminar--pedido button {
    padding: 15px;

    border-radius: 5px;

    color: #fff;
    background-color: #000;
}
.boton__eliminar--pedido button:hover {
    color: #fff;
    background-color: #f00;
    border: none;
    border-radius: 2px;
    color: #fff;
}
.boton__imprimir--pedido {
    width: 50%;
    display: flex;
    justify-content: center;
}
.boton__imprimir--pedido button {
    padding: 15px;

    border-radius: 5px;

    color: #fff;
    background-color: #000;
}
.boton__imprimir--pedido button:hover {
    color: #fff;
    background-color: #0f0;
    border: none;
    border-radius: 2px;
    color: #fff;
}
/*  BOTONES IMPRIMIR FIN*/



/*  MEDIOS DE PAGO */
.medios__pago {
    width: 100%;
    margin: 7px 0;
    padding: 5px;

    border: 2px solid #000;
}
.medios__pago--tile {
    text-align: center;
}
.medios__pago--tipe {
    display: flex;

    border-bottom: 2px solid #000;

    margin: 5px 0;
}
.yape p {
    width: 30%;
}
.yape input {
    border: none;
    font-size: 1em;
}
.yape input::placeholder {
    border: 0px solid #fff;
    text-align: center;
    color: #000;
    background-color: #fff;
}
.plin p {
    width: 30%;
}
.plin input {
    border: none;
    font-size: 1em;
}
.plin input::placeholder {
    border: 0px solid #fff;
    text-align: center;
    color: #000;
    background-color: #fff;
}
.medios__pago--tipe--cuenta {
    width: 100%;
    display: flex;
    flex-direction: column;

    border-bottom: 2px solid #000;
    margin: 5px;
}
.cuenta__deposito {
    display: flex;
}
.cuenta__deposito--entidad  {
    width: 40%;
}
/*  MEDIOS DE PAGO FIN  */



@media (max-width: 768px) {
    .boton__producto {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    header {
        display: none;
    }
    .productos__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
        gap: 5px;
    }
    .boton__producto {
        border: 1px solid #000;
    }

    /*  PEDIDO INCIO*/
    .pedido__cliente div {
        font-size: 15px;
        font-weight: 600;
    }
.pedido__cliente p {
    font-size: 20px;
}
/*pedido__Lista*/
.lista__container--pedidos {
    padding: 5px;
}
.orden {
    width: 100%;
    padding: 5px 0;
}
.orden__title {
    width: 30%;
}
.orden__costo {
    width: 20%;
}
.orden__cantidad {
    width: 10%;
}
.orden__cantidad--elemento {
    width: 20%;
}
.orden__eliminar {
    width: 20%;
}
/*  PEDIDO FIN*/

/* TOTAL INICIO*/
.pedido__costo {
    margin: 5px 0;
    padding: 5px 0;
}
.pedido__costo__3cls {
    margin: 0;
    padding: 5px ;

    border-bottom: 2px solid #000;
}
.pedido__abonado--input input {
    width: 100%;
}
.pedido__abonado--input input::placeholder {
    text-align: center;
}
/* TOTAL FIN*/
/*  BOTONES IMPRIMIR  */
.botones__imprimir{
    margin: 5px 0;
}
.boton__eliminar--pedido {
    width: 50%;
}
.boton__eliminar--pedido button {
    padding: 5px;
}
.boton__imprimir--pedido button {
    padding: 0 10px;
}
/*  BOTONES IMPRIMIR FIN*/

/*  MEDIOS DE PAGO */
.medios__pago {
    margin: 5px 0;
    padding: 5px;
}
.medios__pago--tile {
    text-align: center;
    font-size: 18px;
}
.medios__pago--tipe {
    display: flex;
}

.yape p {
    width: 40%;
}
.yape input {
    width: 60%;
    font-size: 18px;
}
.plin p {
    width: 40%;
}
.plin input {
    width: 60%;
    font-size: 18px;
}
.medios__pago--tipe--cuenta {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 5px;
}
.cuenta__deposito {
    border-bottom: 1px solid #000;
}
.cuenta__deposito--entidad  {
    width: 30%;
}
.cuenta__deposito--entidad--cii {
    width: 70%;
    font-size: 18px;
    text-rendering: auto;
}
/*  MEDIOS DE PAGO FIN  */
}
